.root {
    -fx-background-color: #FFFFFF;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-position-y: -20px;
    -fx-alignment: bottom-center;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #B1B1B1;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-size: 50;
    -fx-font-size: 14px;
}

#mainPane {
    -fx-background-color: #F0F0F0;
}

#searchingButton {
    -fx-background-image: url("/icon/normal/search.png");
}

#translateButton {
    -fx-background-image: url("/icon/actived/translate.png");
    -fx-background-size: 60;
    -fx-font-size: 14px;
    -fx-text-fill: #5163F1;
    -fx-background-color: #5163F1;
}

#wordListButton {
    -fx-background-image: url("/icon/normal/bookmark.png");
}

#gameMenuButton {
    -fx-background-image: url("/icon/normal/game.png");
}

#settingButton {
    -fx-background-image: url("/icon/normal/setting.png");
}