.root {
    -fx-background-color: #f0f8ff;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #B1B1B1;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-size: 40;
    -fx-font-size: 0px;
}

#mainPane {
    -fx-background-color: #f0f8ff;
}



