.root {
    -fx-background-color: transparent;

    -background-color-1: #080928;
    -background-color-2: #151342;
    -background-color-3: #20234D;

    -text-color: white;
}

.button {
    -fx-background-color: transparent;
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-position-y: -20px;
    -fx-alignment: bottom-center;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-color;
}

.button:hover {
    -fx-background-size: 60;
    -fx-font-size: 14px;
}

.button.active {
    -fx-background-size: 80;
    -fx-text-fill: transparent;
}

#rootPane {
    -fx-background-color: #FFFFFF;
}

#menuBar {
    -fx-background-color: linear-gradient(to bottom, #12004A, #000088);
}

#mainPane {
    -fx-background-color: #F3F3FB;
}

#searchButton {
    -fx-background-image: url("/media/img/normal/search.png");
}

#searchButton.active {
    -fx-background-image: url("/media/img/active/search.png");
}

#translateButton {
    -fx-background-image: url("/media/img/normal/translate.png");
}

#translateButton.active {
    -fx-background-image: url("/media/img/active/translate.png");
}

#wordListButton {
    -fx-background-image: url("/media/img/normal/bookmark.png");
}

#wordListButton.active {
    -fx-background-image: url("/media/img/active/bookmark.png");
}

#gameMenuButton {
    -fx-background-image: url("/media/img/normal/game.png");
}

#gameMenuButton.active {
    -fx-background-image: url("/media/img/active/game.png");
}

#settingButton {
    -fx-background-image: url("/media/img/normal/setting.png");
}

#settingButton.active {
    -fx-background-image: url("/media/img/active/setting.png");
}

